.dashBoardHeader{
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    min-height: 4rem;
    padding: 0 1rem;
    position: relative;
    width: 100%;
    z-index: 4;
  }