.dataView{
    
    @apply relative flex h-full w-full items-center justify-center bg-white text-slate-400;

    .blueDot__indicator{
        @apply grid h-[8px] w-[8px] place-items-center items-center justify-center rounded-full text-[9px] bg-[#0099CC];
    }
     
     .purpleDot__indicator{
        @apply grid h-[8px] w-[8px] place-items-center items-center justify-center rounded-full text-[9px] bg-purple-500;
    }
    
    .packGraphContainer{
        width: 100%;
        position: relative;
        // overflow: hidden;
        padding: 2em 0;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 900px;
    }

}

// TODO: handle this better. Could work as either nested or a standalone utility.

.blueDot__indicator{
   @apply grid h-[8px] w-[8px] place-items-center items-center justify-center rounded-full text-[9px] bg-[#0099CC];
}

.purpleDot__indicator{
    @apply grid h-[8px] w-[8px] place-items-center items-center justify-center rounded-full text-[9px] bg-purple-500;
}
