.inboxCard {
    @apply rounded-[4px] cursor-pointer mb-4 relative w-full flex items-start gap-1 transition-all duration-200 ease-in-out;

    .innerCardMain{
        
        
        &__inbox{
           @apply bg-slate-200;
        }
    
    
        @apply flex w-full border border-[#f2f4f8] bg-[#f7f8fa] border-[#f7f8fa]
        p-4 pr-6 pl-4 hover:border-[#ccc] rounded-sm transition-all duration-150
    
    
    
    }

    .title{
        color: #252525;
        display: flex;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: .144px;
        line-height: 2;
        margin-right: auto;
        max-width: 100%;
        text-decoration: inherit;
    }

    .time {
        @apply text-[#252525] flex-shrink-0 text-sm ml-auto pl-4 text-right -mt-1;
    }

    .avatar {
        @apply w-4 h-4 rounded-full bg-green-500 text-white flex items-center justify-center font-normal text-xs;
    }

    .linkedCounts {
        @apply flex flex-row gap-2;

        &__item {
            @apply rounded-md bg-slate-100 text-black p-1 flex gap-1 items-center text-xs h-[1.5rem];
        }

        .entityCount{
            background-color: #5856d6;
            color: white; 
        }
        
        .documentCount{
            background-color: #5856d6;
            color: white; 
        }

        .studyCount{
            background-color: #00adef;
            color: white; 
        }

        .imageCount{
            background-color: #007aff;
            color: white; 
        }

        .fileCount{
            background-color: #36bf31;
            color: white; 
        }

        .highlightCount{
            background-color: #ff9500;
            color: white; 
        }
          
    }

    .links{
        @apply hidden transition-all duration-150 ease-in-out;

        .linkedStudy{
            @apply rounded-sm bg-[#9f69d5] px-[5px] py-[5px] text-white hover:bg-[#8157ac];
        }

        .trashCan{
            @apply rounded-sm bg-[#f05f5f] px-[5px] py-[5px] text-white hover:bg-[#c33939];
        }
    }
    &:hover{
        .links{
            @apply flex flex-col justify-between gap-1 py-1;
        }
    }
}