
.pageContent{
    @apply flex flex-col items-center justify-start w-full;
}  

.loginInput {
  background-color: #0000;
  border: none;
  border-bottom: 1px solid #003171;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 20px;
  outline: none;
  width: 100%;
  margin: 30px 0;
}



.entityCount{
  background-color: lightpink;
  color: white; 
}

.documentCount{
  background-color: #5856d6;
  color: white; 
}

.studyCount{
  background-color: #00adef;
  color: white; 
}

.iconText{
  color: #252525;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;
  display: flex;
  gap: 1em;
}
.loginInput {
  background-color: #0000;
  border: none;
  border-bottom: 1px solid #003171;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 20px;
  outline: none;
  width: 100%;
  margin: 30px 0;
}

.overViewTitle{
  color: #252525;
  cursor: default;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .144px;
  line-height: 24px;
}

.overViewText{
  line-height: 13px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  align-items: center;
}

/* Indicator */
.indicator {
  display: grid;
  place-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  border-radius: 50%;
  background-color: #007aff;
  width: 18px;
  height: 18px;
  color: #fff;
}


/* ANIMATIONS */
/* These will be moved to the correct location. Currently placeholder */

.fade-enter {
  opacity: 0;

}
.fade-enter-active {
  opacity: 1;
  transition: all 250ms ease-in-out;
}
.fade-exit {
  opacity: 1;
  transition: all 250ms ease-in-out;
}
.fade-exit-active {
  opacity: 0;
  transition: all 250ms ease-in-out;
}


.linkedStudy{
    @apply rounded-sm bg-[#9f69d5] px-[5px] py-[5px] text-white hover:bg-[#8157ac];
}

.trashCan{
    @apply rounded-sm bg-[#f05f5f] px-[5px] py-[5px] text-white hover:bg-[#c33939];
}

.Characterization,
.Study{
  background-color: #eeeefb!important;
  border-color: #eeeefb!important;
}

.connected-object{
  padding: .5em;
  border-radius: 9%;
  align-items: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  min-height: 32px;
  min-width: 32px;
}

