.createNewButton {
  @apply flex items-center bg-[#007aff] rounded-[4px] text-white cursor-pointer text-[14px] font-medium h-[40px] tracking-[1.246px] leading-[16px] px-[14px] uppercase;
}

.createNewItemCard{
  @apply rounded-[4px] mx-2 w-[25%];
  box-shadow: -1px 1px 10px rgba(0, 0, 0, .145);
}

.Study{
  background-color: rgba(88, 86, 214, .082);
}

.Entity{
  background-color: rgba(0, 173, 239, .082);
}

.Document{
  background-color: rgba(0, 49, 113, .082);
}

.Query{
  background-color: rgba(163, 0, 118, .082);
}