@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=TIPTAP_AUTH_TOKEN_HERE
//registry.tiptap.dev/:_authToken=jkYVOr3AA5sNT34OSVPZfhIBLrelV4GDhsLsntLtfVv4faGzp9lJinDEl0SHK9G1
//registry.tiptap.dev/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE3MzcxMDY2MzAsIm5iZiI6MTczNzEwNjYzMCwiZXhwIjoxNzM3MTkzMDMwLCJpc3MiOiJodHRwczovL2Nsb3VkLnRpcHRhcC5kZXYiLCJhdWQiOiJiZjM0ZGRlNS02MjUxLTRjMDgtYjk0NC0zMWQ4Y2I2NGUxNzQifQ.pXrjB6YhugL6Us8A1-epJWa9iEFIB-53g_zwXhUjNVc
@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=6vDRHsJA0HRsyfwocMo41vpwUKH6iL8y/c2P+5YXDGIOa0jM/Aakzf1SyyskDaO3
