.itemCard {
  @apply flex flex-row mb-2 cursor-pointer;

  &__item {
    @apply rounded-md bg-slate-100 text-black p-1 flex gap-1 items-center text-xs h-[1.5rem];
  }

  &--hoverable {
    &:hover {
      .links {
        @apply flex flex-col justify-between gap-1 py-1;

        .linkToItem {
          @apply flex;
        }
      }
    }
  }

  .innerCardMain {
    @apply flex w-full border border-[#f2f4f8] p-4 pr-6 pl-4 hover:border-[#ccc] rounded-sm transition-all duration-150 items-start;

    &--inbox {
      @apply bg-[#f7f8fa] border-[#f7f8fa];
    }

    .innerCardCheckbox {
      @apply secondary mr-4 mt-1;
    }

    .innerCardContent {
      @apply md:flex flex-1 flex-row gap-4;

      p {
        @apply text-sm md:text-base
      }

      &__Detail {
        @apply flex flex-1 flex-col px-4;
      }

      &__links {
        @apply flex flex-row items-center gap-4;
      }
    }
  }

  .title {
    @apply text-[#252525] font-medium text-lg leading-relaxed text-ellipsis overflow-hidden;
  }

  .time {
    @apply text-[#252525] flex-shrink-0 text-sm ml-auto pl-4 text-right -mt-1;
  }

  .avatar {
    @apply w-4 h-4 rounded-full bg-green-500 text-white flex items-center justify-center font-normal text-xs;
  }

  .linkedCounts {
    @apply flex flex-row gap-2 mt-2;

    &__item {
      @apply rounded-md bg-slate-100 text-black p-1 flex gap-1 items-center text-xs h-[1.5rem];
    }

    .entityCount {
      background-color: #5856d6;
      color: white;
    }

    .documentCount {
      background-color: #5856d6;
      color: white;
    }

    .studyCount {
      background-color: #00adef;
      color: white;
    }

    .imageCount {
      background-color: #007aff;
      color: white;
    }

    .fileCount {
      background-color: #36bf31;
      color: white;
    }

    .highlightCount {
      background-color: #ff9500;
      color: white;
    }
  }

  .links {
    @apply hidden transition-all duration-150 ease-in-out mx-1 my-0;

    .linkToItem {
      @apply flex;
    }

    .linkedStudy {
      @apply rounded-sm bg-[#9f69d5] px-[5px] py-[5px] text-white hover:bg-[#8157ac];
    }

    .trashCan {
      @apply rounded-sm bg-[#f05f5f] px-[5px] py-[5px] text-white hover:bg-[#c33939];
    }
  }

  &:hover {
    .links {
      @apply flex flex-col gap-1 py-1;
    }
  }
}